syntax: glob
build/*
carthage.gpr
carthage.log
config/eofs.txt
src/carthage-paths.ads
src/carthage-options.ad[bs]
config/cities
config/technology
config/units
config/terrain/
*.orig
./images/*.bmp
src/managers-v1/*
[alias] diff = diff --ignore-space-change
